body {
    background-color: #b9b9b9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    color: #2c4251;
}
a {
    color: #8a9c86;
}
a:hover {
    color: #db2e39;
    transition: .5s;
}

#border {
    border: 3rem;
    border-radius: 10px;
    background-color: #fbf5f3;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    max-width: 1000px;
}
h3, h2 {
    margin: 15px 0;
}
h4 {
    margin: 0;
}

header {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;

}

img {
    border-radius: 10px;
    vertical-align: middle;
}
.draw > img {
    width: 15rem;
}
.draw {
    text-align: center;
}

header>div {
    padding: 0 .5rem;
}
#name {
    min-width: 185px
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-bottom: 5px;
}

#level, #last-badge {
    text-align: center;
}

#last-badge {
    margin: 0 4rem;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fa6b74;
    width: fit-content;
    align-self: center;
    margin: 1rem 0;
    display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: 0.3s;
    font-weight: 400;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #e74b58;
    color: #fbf5f3;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #db2e39;
    color: #fbf5f3;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    min-width: fit-content;
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4px;
}
.rewards {
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 5px;
}
.rewards div {
    padding: 3px;
    text-align: center;
}
.locked {
    filter:blur(5px);
    position: absolute;
    z-index: 1;
}
.lock {
    z-index: 3;
    position: relative;
    opacity: 20;
    width: 50px;
    margin: 30px;
}
.lock:hover {
    width: 70px;
    margin: 20px;
    transition: .5s;
}
.skills-table {
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.skills {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skills p {
    font-weight: 700;
}
.skills-table img{
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 605px) {
    body {
        margin: 0;
        background-color: #fbf5f3;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    #border {
        justify-content: center;
    }
    .tab button {
        padding: 1rem .5rem;
    }
    .container {
        display: grid;
        grid-template-columns:1fr;
    }
    .rewards {
        grid-template-columns: repeat(2,2fr)
    }
    .skills {
        flex-direction: column;
        text-align: center;
    }
    .skills-img {
        margin-bottom: 3px;
    }
}

.circle-wrap {
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #db2e39;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(144deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

.circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}